<md-dialog class="mv-create-dialog">
    <form name="buyingOfferForm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create Buying Offer</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2 class="md-display-1">Let's create a buying offer!</h2>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs="50">
                    <label>Title</label>
                    <input md-maxlength="30" required name="title" ng-model="buyingOffer.title">
                    <div ng-messages="buyingOfferForm.title.$error">
                        <div ng-message="required">Title is required.</div>
                        <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="25">
                    <label>Price</label>
                    <md-select ng-model="buyingOffer.price">
                        <md-option ng-repeat="price in prices" ng-value="price">
                            {{price}}
                        </md-option>
                    </md-select>
                    <div ng-messages="buyingOfferForm.title.$error">
                        <div ng-message="required">Price is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs="25">
                    <label>Condition</label>
                    <md-select ng-model="buyingOffer.condition">
                        <md-option ng-repeat="condition in conditions" ng-value="condition">
                            {{condition}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="buyingOffer.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                <div class="hint">A storyline is optional.</div>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <span flex></span>
        <md-button ng-click="save()" ng-disabled="buyingOfferForm.$invalid" md-auto-focus>
            Save
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>