<md-card-title>

    <md-card-title-text>
        <span class="md-headline">{{buyingOffer.title}}</span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>
  <!-- <md-card-title-media>
        <img class="mv-card-pic" ng-src="{{buyingOffer.posters.thumbnail}}" />

    </md-card-title-media>-->

</md-card-title>
<md-card-content>
    price: {{buyingOffer.price}} | condition: {{buyingOffer.condition}}
</md-card-content>
<md-card-actions layout="row" layout-align="end center">
    <md-button class="md-ink-ripple md-accent" ui-sref="buyingOffers.detail({buyingOfferId: buyingOffer._id })">
        Details
    </md-button>
</md-card-actions>

        <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" href="#/buyingOffers/{{buyingOffer._id}}">-->


